.navbar {
  background-color: #dfe7ed;
  color: white;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1002;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #2c277c;
  text-decoration: none;
  margin-right: 1rem;
}

.location-container {
  margin-right: 1rem;
}

.location-dropdown {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid rgb(27, 32, 32);
  background-color: white;
  color: #343a40;
  width: 250px;
  height: 40px;
}
.location-dropdown:hover {
  border: 2px solid rgb(122, 234, 234);
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 800px;
  margin-right: 1rem;
}

.search-bar {
  padding: 0.6rem;
  border: 2px solid rgb(27, 32, 32);
  border-radius: 5px 0 0 5px;
  width: 100%;
  color: #646578;
}
.search-bar:hover {
  border: 2px solid rgb(122, 234, 234);
}

.search-btn {
  padding: 0.6rem 1.2rem;
  background-color: #01010b;
  border: 2px solid #000;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #4a4747;
}

.language-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.language-selector span {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  color: #022230;
  font-size: 1.5rem;
}

.rotate-180 {
  transform: rotate(180deg);
}

.language-dropdown {
  position: absolute;
  top: 100%;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  z-index: 1003;
  width: 150px;
}

.language-dropdown li {
  padding: 0.5rem;
  cursor: pointer;
}
.profile-container {
  position: relative;
  cursor: pointer;
}
.profile-icon {
  display: flex;
  align-items: center;
}
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #4a4747;
  margin-right: 0.5rem;
}
.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  z-index: 1003;
  width: 300px;
  height: auto;
}
.profile-info {
  display: flex;
  padding: 1.5rem 1rem;
}
.profile-info-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #4a4747;
  margin-right: 0.5rem;
  top: 0;
}
.profile-info-name {
  font-weight: bold;
  color: #042929;
  font-size: 1.3rem;
  text-align: center;
  margin: 0.5rem;
}
.profile-btn {
  padding: 0.5rem 1rem;
  position: relative;
  background-color: #022230;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 250px;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem;
  transition: background 0.3s ease;
}
.profile-btn:hover {
  background-color: #fff;
  border: 3px solid #022230;
  color: black;
}
.profile-dropdown li {
  padding: 0.5rem 1rem;
}

.profile-dropdown li:hover {
  background-color: #f5f5f5;
}

.sell-button {
  margin-left: 15px;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #878ddc, #b2c4eb);
  border: 3px solid #4a4747;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sell-button:hover {
  background: linear-gradient(to right, #b2c4eb, #878ddc);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .search-container {
    flex-basis: 100%;
    margin: 1rem 0;
  }

  .navbar-links {
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
