.header {
  background-color: #fff;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  top: 0;
  z-index: 1001;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.category-selector {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: rgb(64, 55, 55);
  margin-right: 2rem;
  white-space: nowrap;
}

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.rotate-180 {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 10px;
  display: grid;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(7, 2fr);
  gap: 15px;
  z-index: 1000;
  box-sizing: border-box;
}

.dropdown-column {
  padding: 10px;
}

.dropdown-column a {
  display: block;
  color: #082d36;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 15px;
  transition: color 0.3s ease;
}

.dropdown-column a:hover {
  color: #2e597d;
}

.subcategories {
  margin-top: 8px;
}

.subcategories a {
  color: #0e3744;
  font-size: 13px;
  margin-left: 10px;
  text-decoration: none;
}

.subcategories a:hover {
  color: #0c6f88;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  z-index: 1;
  white-space: nowrap;
}

.header-links a {
  color: rgb(6, 11, 13);
  text-decoration: none;
  font-size: 13px;
}

.header-links a:hover {
  color: rgb(11, 115, 115);
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .category-selector {
    margin-right: 1rem;
  }

  .dropdown-menu {
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 10px;
  }

  .header-links {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .header-links a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .category-selector {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .dropdown-menu {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
  }

  .dropdown-column a {
    font-size: 13px;
  }

  .header-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-links a {
    font-size: 12px;
  }
}
